
body {
    font-family: "Lato", "Montserrat", sans-serif;
}

#heatmapTextDiv {
    margin : auto;
    min-width: 300px;
    width: 30%;
}

#heatmapDiagramDiv {
    margin : auto;
    width: 70%;
}

#heatmapDiv {
    display: flex;
    gap: 10px; 
    width:100%;
}

#heatmapText {
    width : 100%
}

.mapNode {
    border : 2px solid black;
    border-radius: 10px;
    padding : 2px;
    margin : 2px;
}

#heatmapDiagramTitle {
    text-align: center;
}