
body {
    font-family: "Lato", "Montserrat", sans-serif;
}

#heatmapTextDiv {
    margin : auto;
    min-width: 365px;
    width: 365px;
}

#heatmapTextDiv.printMode {
    display : none;
}

#heatmapDiagramDiv {
    margin : auto;
    width: 70%;
}

#heatmapDiv {
    display: flex;
    gap: 10px; 
    width:100%;
}

#heatmapText {
    width : 100%;
    min-width : 360px;
    min-height : 500px
}

.mapNode {
    border : 2px solid black;
    border-radius: 10px;
    padding : 2px 10px;
    margin : 2px;
}

#heatmapDiagramTitle {
    text-align: center;
}

.mapNode {
    display : inline-block;
    vertical-align: top;
}
