#heatmapTextDiv {
    margin : auto;
    min-width: 300px;
    width: 30%;
    background-color: blanchedalmond;
}

#heatmapDiagramDiv {
    background-color: cornflowerblue;
    margin : auto;
    width: 70%;
}

#heatmapDiv {
    display: flex;
    gap: 10px; 
    width:100%;
}

#heatmapText {
    width : 100%
}

.mapNode {
    border : 2px solid black;
    padding : 2px;
    margin : 2px;
}